<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/favicon.ico">
    <title>Kool Capture</title>
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link href="./css/signin.css" rel="stylesheet">
     <link href="./css/takes.css" rel="stylesheet">
  </head>
  <body>
      <div class="blueStrip">
        <div class="logoCenter">
            <img src='./img/logos/logo_moyen.png'/>
        </div>
      </div>
      <div class="whiteStrip">
        <div class="textInfo">
          <p>Kool Cloud est un service web permettant de réaliser un film 
  d'animation de manière collaborative par plusieurs équipes 
  situées à distance à l'aide du logiciel Kool Capture.</p>
        </div>
      </div>
      <div class="blueStrip">
        <div class="textInfo">
          <p>Ce film a été réalisé lors de 2 ateliers simultanés pendant le Festival National du Film d'Animation, un à La Ménagerie à Tournefeuille (31) et l'autre au Théâtre National de Bretagne à Rennes (35), le 4 Avril 2018 entre 14h et 18h30.</p>
        </div>
      </div>
          <% 
              var filmTitle = "festirennes";
          %>
      <% if (filmArray.length==0){ %>
        <div id="film" class="whiteStrip">
          <div class="shotsContainer">
            <div class="jumbotronTake jumbotronFilm emptyFilm">
              <img src='./img/logos/logo_moyen.png'/>
              <h4 class="filmTitleEmpty">Le film n’a pas encore été créé</h4>
            </div>
          </div>
        </div>
        <div id="shots" class="blueStrip" style="margin-top: 30px;height:200px">
          <div class="textInfo">
            <h4>Il n'existe pas encore de plans pour ce film</h4>
          </div>
        </div>
      <%}else {%>

        <div id="film" class="whiteStrip" style="margin-top: 30px;">
          <div class="shotsContainer">
            <div class="jumbotronTake jumbotronFilm">
              <h3 class="filmTitle"><%= filmTitle %> </h3>
              <div >
                <source src="./exports/film/<%= filmTitle %>.mp4" type="video/mp4">
                <video width="320" height="220" poster="./exports/film/<%= filmTitle %>.jpg" controls>
                <source src="./exports/film/<%= filmTitle %>.mp4" type="video/mp4">
                </video>
              </div>
              <h6 class="filmTitle"></h6>
            </div>
          </div>
        </div>
        <div id="shots" class="blueStrip" style="margin-top: 30px;">
          <p class="shotsTitle">PLANS DU FILM</p>
          <% for(var i=0; i<filmArray.length; i++) { %>
            <div class="shotsContainer">
              <div class="jumbotronTake">
                <h4><%= filmArray[i] %> </h4>
                <div >
                  <source src="./exports/shots/<%= filmArray[i] %>.mp4" type="video/mp4">
                    <video width="240" height="165" poster="./exports/thumbnails/<%= filmArray[i] %>.jpg" controls>
                  <source src="./exports/shots/<%= filmArray[i] %>.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
     <div class="footer">
          <p>©&nbsp;<a href="http://lamenagerie.com" target="_blank">La Ménagerie</a>&nbsp;&amp;&nbsp;<a href="http://koolcapture.com" target="_blank">Kool Capture</a>&nbsp;2018</p>
    </div>
  </body>
</html>
