.logoCenter{
  	margin: 0 auto;
	background-color:#065CBA;
	border-radius: 10px;
	height:210px;
	text-align:center;
}
.textInfo{
  	padding-top: 15px;
  	padding-bottom: 15px;
  	margin: 0 auto;
	width:80%;
}
.blueStrip{
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #065cba;
  left: 0;
  right :0;
  color: white;
  text-align: center;
}
.whiteStrip{
	border-radius: 10px;
  	font-size: 14px;
  	font-family: "Arial";
    left: 0;
    right :0;
    color: #065cba;
    text-align: center;
}
.filmTitle{
  color:#FFFFFF;
}

.filmTitleEmpty{
    color:#FFFFFF;
}
.emptyFilm{
  width:320px;
  /*height:220px;*/
}
.shotsTitle{
	padding: 20px;
}
.shotsContainer{
  	margin: 0 auto;
	text-align:center;
	display:inline-block;
}
.jumbotronTake {
  text-align:center;
  max-width: 500px;	
  float:left;
  margin:10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
	border-radius: 10px;
	/*background-color: #073c77;*/
  background-color: #FFFFFF;
    color: #065cba;
}
@media screen and (max-width: 571px) {
  .jumbotronTake {
  	float:none;
  }
}
.jumbotronFilm {
  background-color: #065cba;
}
.footer{
  	font-size: 12px;
  	font-family: "Arial";
  	line-height: 3;
  	margin-top: 30px;
    left: 0;
    bottom: 0;
    right :0;
    height:40px;
    background-color: #065cba;
    color: white;
    text-align: center;
}
